# .env.example

# COMMON
LOG_LEVEL=INFO   

## SUPABASE params
SUPABASE_URL="..."
SUPABASE_DB_URL="..."

SUPABASE_SERVICE_ROLE_KEY="..."
SUPABASE_ANON_KEY="..."

MAX_ROWS_PER_REQUEST = 1000

# SUPABASE STORE PARAMS
SUPABASE_AUCHAN_STORE_ID="1"

## AUCHAN PARAMS
AUCHAN_NUM_WORKERS=5
AUCHAN_BASE_URL="https://www.auchan.pt"

WAIT_FIRST_LOAD = 1
WAIT_DEFAULT = 0.5
WAIT_STAGNANT = 0.2

BASE_CHUNK_SIZE = 400

AUCHAN_ELAPSED_LOG_INTERVAL = 30