# testing


# production


# misc
__pycache__
*_pycache_
/__pycache__
*/__pycache__

# env files (can opt-in for committing if needed)
.env.local.*
.env.local

/TESTE

/logs

*logs
logs*

# Old files
Old
/Old

/old 
old